@{
    ViewData["Title"] = "Sign Up";
}



<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <h5 class="mbr-section-title mbr-fonts-style mb-2 display-5">
            <strong>Sign Up</strong>
        </h5>
        <!-- Post -->
        <form asp-controller="Home" asp-action="SignUp" method="post">

            <div class="form-group">
                @Html.Label("email", "Email")
                @Html.TextBox("email", "", new { @class = "form-control", @type = "email", placeholder = "Email" })
                <small id="emailHelp">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                @Html.Label("password", "Password")
                @Html.Password("password", "", new { @class = "form-control", placeholder = "Password" })

            </div>
            <div class="form-group">
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            </div>
            <button type="submit" class="button large">Submit</button>

        </form>
        <a asp-controller="Home" asp-action="Login">Login</a>
    </div>



</div>